notes.txt
*~
.Rhistory
.*swp
.nfs*
*.o
*.cmake
tmp
BedReader.cpp
Fasta.cpp
Fasta.h
Makefile.bad
Multinomial.cpp
Multinomial.h
Pilot1
Pilot2
VCF.h
VariantFilter.h
b.vcf
bugs/
callgrind.out.7143
f
freebayes.chr20.integrated.nogeno.20101123.vcf
glorder
glorder.cpp
glorder.py
glorder.pyc
gmon.out
multimaptest.cpp
pooled.sqlite
pooled.sqlite3
shunt
shunt.c
t.bed
test.db
test.vcf
test.vcf.gz
test.vcf.gz.tbi
vcf2tsv
vcfaddinfo
vcfaddtag.cpp
vcfafpath
vcfallelicprimitives
vcfaltcount
vcfannotate
vcfannotategenotypes
vcfbreakmulti
vcfcheck
vcfclassify
vcfcleancomplex
vcfcommonsamples
vcfcountalleles
vcfcreatemulti
vcfdistance
vcfecho
vcfentropy
vcffilter
vcffixup
vcffixup.cpp.bak
vcfflatten
vcfgeno2haplo
vcfgenotypecompare
vcfgenotypes
vcfglxgt
vcfhaplotyecompare.cpp
vcfhetcount
vcfhethomratio
vcfintersect
vcfkeepfields
vcfkeepgeno
vcfkeepinfo
vcfkeepsamples
vcflength
vcfmultiwaywwwindexfilter
vcfnogeno
vcfnogeno.cpp
vcfnumalt
vcfoverlay
vcfparallel
vcfparsealts
vcfphylo.cpp
vcfplotaltdiscrepancy.r.loess
vcfplottstv.r
vcfprimers
vcfrandom
vcfrandomsample
vcfremap
vcfremoveaberrantgenotypes
vcfremovesamples
vcfroc
vcfsamplediff
vcfsamplenames
vcfsitesummarize
vcfsom
vcfsplit.cpp
vcfstats
vcfstreamsort
vcfuniqalleles
#vcfcountalleles.cpp#
.vcfplotaltdiscrepancy.r.swo
.vcfstats.cpp.swn
.vcfstats.cpp.swo
a.out
vcfuniq
vcfcat
vcfevenregions
vcfgenosummarize
vcfgenosamplenames
vcf2fasta
bin/vcf2dag
bin/vcfcombine
bin/vcfgeno2alleles
bin/vcfglbound
bin/vcfindex
bin/vcfinfo2qual
bin/vcfinfosummarize
bin/vcfleftalign
bin/vcfqual2info
bin/vcfsample2info
libvcflib.a
lib/
bin/
obj/
include/
build/
*.aux
*.log
*.synctex.gz
test/tests/main
zig-cache
zig-out
hello
