[submodule "tabixpp"]
	path = tabixpp
	url = https://github.com/ekg/tabixpp.git
[submodule "smithwaterman"]
	path = smithwaterman
	url = https://github.com/ekg/smithwaterman.git
[submodule "multichoose"]
	path = multichoose
	url = https://github.com/ekg/multichoose.git
[submodule "fastahack"]
	path = fastahack
	url = https://github.com/ekg/fastahack.git
[submodule "intervaltree"]
	path = intervaltree
	url = https://github.com/ekg/intervaltree.git
[submodule "fsom"]
	path = fsom
	url = https://github.com/ekg/fsom.git
[submodule "filevercmp"]
	path = filevercmp
	url = https://github.com/ekg/filevercmp.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
