[submodule "tabixpp"]
	path = tabixpp
	url = git://github.com/ekg/tabixpp.git
[submodule "smithwaterman"]
	path = smithwaterman
	url = git://github.com/ekg/smithwaterman.git
[submodule "multichoose"]
	path = multichoose
	url = git://github.com/ekg/multichoose.git
[submodule "fastahack"]
	path = fastahack
	url = git://github.com/ekg/fastahack.git
