*.o
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
libvcflib.a
vcf2tsv
vcfaddinfo
vcfafpath
vcfallelicprimitives
vcfaltcount
vcfannotate
vcfannotategenotypes
vcfbreakmulti
vcfclassify
vcfcleancomplex
vcfcommonsamples
vcfcountalleles
vcfdistance
vcfecho
vcfentropy
vcffilter
vcffixup
vcfflatten
vcfgeno2haplo
vcfgenotypecompare
vcfgenotypes
vcfglxgt
vcfhetcount
vcfhethomratio
vcfintersect
vcfkeepgeno
vcfkeepinfo
vcfkeepsamples
vcflength
vcfnumalt
vcfoverlay
vcfparsealts
vcfprimers
vcfrandom
vcfrandomsample
vcfremap
vcfremoveaberrantgenotypes
vcfremovesamples
vcfsamplediff
vcfsamplenames
vcfsamplestats
vcfsitesummarize
vcfstats
vcfstreamsort
